---
layout: default
---
<div id="home" class="page-content wc-container">
    <div class="posts">
        {% for post in paginator.posts %}
        <div class="post">
            <h3 class="post-title">
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                    {{ post.title }}
                </a>
            </h3>

            <p class="post-meta">
            {% if (post.categories.size > 0 %}
            <span class="categories">
                {{ post.categories | array_to_sentence_string }}
            </span> |
            {% endif %}
            <span class="post-date">
                {{ post.date | date: "%b %-d, %Y" }} 
            </span>
            </p>          

            <p>
            {{ post.content }}	
            </p>
            <!--
                <p>
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
                        Read More
                    </a>
                </p>-->
        </div>
        {% endfor %}
    </div>
    <div class="post-footer" style="display: none">
        <div class="column-full"><a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog archive</a></div>
    </div>
    <div class="post-footer pagination">
        <div class="column-full">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
            {% else %}
            <span class="previous">Newer
            {% endif %}
            <span class="page-separator">/</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Older
            </a>
            {% else %}
            <span class="next">Older</span>
            {% endif %}
        </div>
    </div>
</div>
